.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  margin-left: 48px;
  transition: opacity 0.3s ease;
}

.khan__buy-link:hover {
  opacity: 0.7;
}
